@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(6, 35, 41);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: 'Open sans', sans-serif;
  outline: none;
  height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color-darker);
  padding: 0 2rem;
}

.logo {
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav a {
  color: white;
  padding: 1rem;
}

.nav a:hover {
  text-decoration: none;
  color: rgb(196, 196, 196);
  padding: 1rem;
}

.container {
  max-width: 680px;
  margin: 2rem auto;
  text-align: center;
  padding-bottom: 2rem;
}

.container span {
  display: block;
  margin: 1rem 0;
}

.container table {
  width: 100%;
  font-size: 0.8rem;
  border-collapse: collapse;
}

.container tr {
  padding: 0.5rem;
  height: 2.25rem;
}

.container tr:nth-child(even) {
  background-color: #e9e9e9;
}

.editar {
  color: blue;
}

.excluir {
  color: red;
}

.form {
  max-width: 400px;
  margin: 2rem auto;
}

.form a {
  color: blue;
  display: block;
  text-align: center;
  font-size: 0.75rem;
  margin-top: 1rem;
  text-decoration: underline;
}

.form p, .form-contato p {
  margin-bottom: 1rem;
}

.form input, .form button, .form-contato input.form-contato button {
  display: block;
  width: 100%;
  margin-bottom: 0.75rem;
}

.form label, .form-contato label {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form label, .form-contato label {
  font-size: 0.8rem;
}

.form input, .form-contato input {
  font-size: 0.8rem;
  height: 2.5rem;
  padding: 0 1rem;
  border: 1px solid #a3a3a3;
  border-radius: 0.25rem;
}

.form input:focus, .form-contato input:focus {
  outline: 1px solid var(--primary-color);
}

.form button, .form-contato button {
  border: none;
  background-color: rgb(31, 31, 231);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  height: 3rem;
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 0.25rem;
  transition: 300;
}

.form button:hover, .form-contato button:hover {
  background-color: rgb(23, 23, 182);
}

.form-contato {
  max-width: 800px;
  margin: 2rem auto;
} 

.sucesso {
  color: green;
  background-color: rgb(196, 255, 162);
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.erro {
  color: rgb(172, 0, 0);
  background-color: rgb(252, 205, 205);
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.pagina-erro, .pagina-sair {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 4rem;
  text-align: center;
}

.pagina-erro h1, .pagina-sair h1 {
  font-size: 4rem;
}