<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="pagina-erro">
  <h1>Erro 404!</h1>
  <span>A página que vc procura não existe.</span>
</div>

<%- include('includes/footer') %>