<%- include('includes/head') %>
<%- include('includes/nav') %>

  <section class="container">
    <h1>Agenda</h1>
    <span>Crie uma conta para cadastrar seus contatos.</span>

    <%- include('includes/messages') %>

    <table>
      <tr>
        <td>Adrian</td>
        <td>Mouzinho</td>
        <td>adrianmouzinho@gmail.com</td>
        <td>99991394321</td>
        <td>
          <a href="/login" class="editar">
            Editar
          </a>
        </td>
        <td>
          <a href="/login" class="excluir">
            Excluir
          </a>
        </td>
      </tr>

      <tr>
        <td>Otávio</td>
        <td>Miranda</td>
        <td>otaviomiranda@gmail.com</td>
        <td>81982122134</td>
        <td>
          <a href="/login" class="editar">
            Editar
          </a>
        </td>
        <td>
          <a href="/login" class="excluir">
            Excluir
          </a>
        </td>
      </tr>
    </table>
  </section>

<%- include('includes/footer') %>